html {
  font-size: 62.5%;
}
html body {
  margin: 0;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: white;
}
.w {
  width: 100%;
}
.fs8 {
  font-size: 1.8rem;
}
.cw {
  color: white;
}
.co {
  color: orange;
}
.cg {
  color: darkgray;
}
.bcw {
  background-color: white;
}
.bcb {
  background-color: darkturquoise;
}
.l {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.df {
  display: flex;
  align-items: center;
}
.bn {
  border: none;
}
