body {
  margin: 0;
  font-size: 62.5%;
}
.fs2 {
  font-size: 2rem;
}
.fs1 {
  font-size: 1rem;
}
.fs5 {
  font-size: .5rem;
}
div {
  font-weight: bold;
}
.fcb {
  color: blue;
}
.tdu {
  text-decoration: underline;
}
