* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #fafafa;
}
a {
  text-decoration-line: none;
}
p {
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.column {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-25 {
    width: 20%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-9,
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-md-25 {
    float: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-3 {
    width: 33.3333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-3,
  .col-sm-6 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-height: 1px;
  }
}
.m0 {
  margin: 0;
}
.w {
  width: 100%;
}
.work {
  padding: 1.5rem 0 1.5rem 0;
}
.bs {
  box-shadow: 0 0 2px #9d9d9d;
}
.fs5 {
  font-size: .5rem;
}
.fs6 {
  font-size: 1.6rem;
}
.fs8 {
  font-size: 1.8rem;
}
.fwb {
  font-weight: bold;
}
.cw {
  color: white;
}
.cgr {
  color: #25b278;
}
.cg {
  color: darkgray;
}
.cr {
  color: red;
}
.bcw {
  background-color: white;
}
.bcg {
  background-color: #25b278;
}
.bcb {
  background-color: black;
}
.l {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.wwbw {
  word-wrap: break-word;
  word-break: break-all;
}
.df {
  display: flex;
  align-items: center;
}
.bn {
  border: none;
}
.ofh {
  overflow: hidden;
}
.broadcast {
  margin: 0;
  width: 400%;
  list-style-type: none;
  animation: banner 8s ease-out infinite;
}
.broadcast img {
  width: 25%;
  float: left;
}
@keyframes banner {
  0%,
  100% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
}
main .introduce,
main .people {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 8vw 2.5rem 0 2.5rem;
}
main .introduce div {
  width: 5rem;
  height: 5rem;
}
main .introduce .rocket {
  background: url(images/in.png) no-repeat -21.5rem -13rem;
}
main .introduce .book {
  background: url(images/in.png) no-repeat -22.2rem 0;
}
main .introduce .contacts {
  background: url(images/in.png) no-repeat -21.5rem -6.5rem;
}
main .people {
  border-left: #e2e2e2 dashed 2px;
}
main .people div {
  margin: .5rem 0 .5rem 0;
}
main .people .number {
  width: 2rem;
  height: 2rem;
  background: url(images/in.png) no-repeat -4.5rem -21.75rem;
}
main .study {
  margin: 4vw 0 4vw 0;
}
main .start {
  margin: 0 0 4vw 1rem;
  width: 18rem;
  height: 5rem;
}
main .start .round {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: #e2e2e2 solid 1px;
  justify-content: center;
}
main .start .word {
  margin: 0 0 0 6rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main .direction {
  width: 2rem;
  height: 4rem;
  background: url(images/in.png) no-repeat -1rem -21rem;
}
main .student {
  margin-top: 3vw;
  padding: 0 2.5rem 0 2.5rem;
  height: 30rem;
  border: #e2e2e2 solid 2px;
  box-shadow: #e2e2e2 0 0 3px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
main .student div {
  width: 10rem;
  height: 9rem;
}
main .student .hand {
  background: url(images/in.png) no-repeat -11rem -11.5rem;
}
main .student .hand1 {
  background: url(images/in.png) no-repeat -0.3rem -0.8rem;
}
main .student .hand2 {
  background: url(images/in.png) no-repeat -11rem -0.8rem;
}
main .student .hand3 {
  background: url(images/in.png) no-repeat -0.3rem -11.5rem;
}
main .shape {
  margin: 3vw 0 3vw 0;
  justify-content: center;
}
main .shape div {
  margin-right: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: #e2e2e2 solid 1px;
}
main .shape div:hover {
  background-color: #25b278;
}
main .box {
  margin-bottom: 5rem;
}
main .box .box-in {
  position: relative;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .box .box-in div {
  width: 15rem;
  height: 5rem;
}
main .box .box-in .alibaba {
  background: url(images/enterprise.png) no-repeat -1rem -22.5rem;
}
main .box .box-in .jinshan {
  background: url(images/enterprise.png) no-repeat 2.5rem -30rem;
}
main .box .box-in .huanxin {
  background: url(images/enterprise.png) no-repeat -1.5rem -15rem;
}
main .box .box-in .ronglian {
  background: url(images/enterprise.png) no-repeat -1.3rem -1rem;
}
main .box .box-in .qiniu {
  background: url(images/enterprise.png) no-repeat -1rem -9rem;
}
main .box .box-in:hover {
  box-shadow: 0 0 1rem #e2e2e2;
  z-index: 999;
}
main .link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .link li {
  border-bottom: white solid 2px;
  padding: 1rem;
  color: darkgray;
  float: left;
}
main .link li:hover {
  border-bottom: #25b278 solid 2px;
}
@media screen and (min-width: 768px) and (max-width: 875px) {
  main li {
    width: 23%;
    margin-left: 13rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  main li {
    width: 40%;
    margin-left: 2rem;
  }
}
